In [32]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import pprint
import matplotlib.pyplot as plt
import matplotlib as mp
import random

In [57]:
#I found on Google maps that from Baruch College in New York to Southernmost Key West point 1446 miles
total_miles = 1446
# from provided data we have
day1 = 55
day2 = 65
#with average daily distance we can find approximate qantity of days to travel
avg_daymiles=(day1+day2)/2
total_days=round(total_miles/avg_daymiles)

#Then, since we know only first two days of exact mileage, for the rest of the days I will generate random numbers in the range between 40 and 80 miles per day
distlist= [day1,day2]
daylist= ["day 1","day 2"]
i=0
day=2
while (day-2) != (total_days-2): 
    random_miles=random.randrange(40, 80)
    day= day+1
    distlist.append(random_miles)
    daylist.append("day "+str(day))
    summiles = sum(distlist)
    if summiles > 1371:
        continue
        distlist.append(1446 - sum(distlist))
print("Mileage for each day")
dataset= list(zip(daylist,distlist))
count=0
while count < day:    
    print(daylist[count],":",distlist[count],"miles")
    count = count+1

Mileage for each day
day 1 : 55 miles
day 2 : 65 miles
day 3 : 55 miles
day 4 : 74 miles
day 5 : 52 miles
day 6 : 64 miles
day 7 : 49 miles
day 8 : 79 miles
day 9 : 63 miles
day 10 : 43 miles
day 11 : 60 miles
day 12 : 54 miles
day 13 : 51 miles
day 14 : 46 miles
day 15 : 78 miles
day 16 : 42 miles
day 17 : 72 miles
day 18 : 59 miles
day 19 : 79 miles
day 20 : 74 miles
day 21 : 47 miles
day 22 : 50 miles
day 23 : 56 miles
day 24 : 64 miles

Then we will show cumulative miles

In [58]:
cumulative=[]
cum=0
count=0
while cum <= total_miles:
    cum=cum+distlist[count]
    print (daylist[count],":",cum,"miles")
    cumulative.append(cum)
    count=count+1
    if count >= int(total_days):
        break

day 1 : 55 miles
day 2 : 120 miles
day 3 : 175 miles
day 4 : 249 miles
day 5 : 301 miles
day 6 : 365 miles
day 7 : 414 miles
day 8 : 493 miles
day 9 : 556 miles
day 10 : 599 miles
day 11 : 659 miles
day 12 : 713 miles
day 13 : 764 miles
day 14 : 810 miles
day 15 : 888 miles
day 16 : 930 miles
day 17 : 1002 miles
day 18 : 1061 miles
day 19 : 1140 miles
day 20 : 1214 miles
day 21 : 1261 miles
day 22 : 1311 miles
day 23 : 1367 miles
day 24 : 1431 miles

In [59]:
cumulative = pd.Series(cumulative)
cumulative

0       55
1      120
2      175
3      249
4      301
5      365
6      414
7      493
8      556
9      599
10     659
11     713
12     764
13     810
14     888
15     930
16    1002
17    1061
18    1140
19    1214
20    1261
21    1311
22    1367
23    1431
dtype: int64

I'll make it little more nice looking

In [60]:
dataset_cumulative=list(zip(daylist,cumulative))
dfc=pd.DataFrame(data=dataset_cumulative, columns=['Day', 'Miles'])
dfc

       Day  Miles
0    day 1     55
1    day 2    120
2    day 3    175
3    day 4    249
4    day 5    301
5    day 6    365
6    day 7    414
7    day 8    493
8    day 9    556
9   day 10    599
10  day 11    659
11  day 12    713
12  day 13    764
13  day 14    810
14  day 15    888
15  day 16    930
16  day 17   1002
17  day 18   1061
18  day 19   1140
19  day 20   1214
20  day 21   1261
21  day 22   1311
22  day 23   1367
23  day 24   1431